body {
  background-color: var(--color-background);
  margin: 0;
  font-family: var(--font-family);
}


/* Seccion */
.seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  min-height: 70vh;
  padding: 4rem 1rem;
}

/* Subtitulos */
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--color-text);
  padding: 2vh 0;
  text-align: center;
}

/* Botones */
.btn-primario {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border: 1px solid var(--color-primary);
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 0.6rem 1.4rem;
  letter-spacing: 0.3px;
}

.btn-primario:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-primary);
  box-shadow: 0 4px 10px var(--color-shadow);
}

.btn-secundario {
  background-color: transparent;
  color: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 50px;
  font-weight: 600;
  padding: 0.6rem 1.4rem;
}

.btn-secundario:hover {
  background-color: var(--color-text);
  border-color: var(--color-text);
  color: var(--color-text-light);
  box-shadow: 0 4px 10px var(--color-shadow);
}

/* ProductCard */
.product-card {
  width: 100%;
  background-color: var(--color-card-bg);
  transition: transform 200ms ease, box-shadow 200ms ease;
  will-change: transform;
  transform-origin: center;
  position: relative;
  box-shadow: 0 4px 8px var(--color-shadow);
}

@media (hover: hover) and (pointer: fine) {
  .product-card:hover {
    transform: scale(1.04);
    box-shadow: 0 6px 16px var(--color-shadow-dark);
  }
}


/* Formulario */
.form-container {
  max-width: 500px;
  min-width: 280px;
  width: 75%;
  margin: 0 auto;
}


/* Carrusel */
.carrusel .carousel-item {
  height: 60vh;
  /* 60% de la altura de la ventana */
}

.carrusel .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .carrusel .carousel-item {
    height: 70vh;
  }
}