:root{
  --banner-height: 40px;
  --duration: 20s; /* ajustá la velocidad */
}

.clima-banner{
  width: 100%;
  height: var(--banner-height);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  box-sizing: border-box;
  background: var(--color-header);
}


.clima-track{
  display: flex;
  gap: 14px;
  align-items: center;
  animation: marquee var(--duration) linear infinite;
  will-change: transform;
}


.clima-card{
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 6px 10px;
  background: var(--color-card-bg);
  border-radius: 8px;
  min-width: 140px;
  white-space: nowrap;
  box-shadow: 0 1px 1px var(--color-shadow);
  border: 1px groove var(--color-gray-light);
  font-family: system-ui, sans-serif;
  font-size: 0.9rem;
}

/* animación suave e infinita */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
