:root {
    --color-primary: #3498db;
    --color-primary-dark: #154564;
    --color-secondary: #2ecc71;
    --color-secondary-dark: #27ae60;
    --color-background: #f5f5f5;
    --color-card-bg: #ffffff;
    --color-text: #333333;
    --color-text-light: #FFFFFF;
    --color-accent: #e6c325;
    --color-destructive: #e20000;;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-shadow-dark: rgba(0, 0, 0, 0.2);
    --color-gray-light: #ebebeb;
    --color-gray-dark: #6e6e6e;
    --font-family: 'Arial', sans-serif;
}